<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <title>{{this.pagetitle}}</title>
  <link rel="stylesheet" href="/css/style2.css?v4" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css?v2" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css?v2" />
  <script type="text/javascript" src="/scripts/jquery-1.9.1.js?v2"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js?v2"></script>
  <!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

  <header id="header">
    <h1 class="mainlabel">Капитал</h1>
    <div id="usermnu">
      {{ this.widget('MainMenu', {'rootId':0}, true) | raw }}
    </div>
  </header><!-- #header-->

  <section id="middle">
    <div id="container">
      <div id="content"><div id="contwrap">
        <div class="contact-l">
            <h1 class="contlabel">НАПИШИТЕ НАМ</h1>
            <form id="feedback" action="/feedback/send/" method="POST">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <th scope="row">Ваше имя</th>
                <td><input class="pole" name="FbMessages[sndr_name]" type="text"></td>
              </tr>
              <tr>
                <th scope="row">Телефон</th>
                <td><input class="pole" name="FbMessages[sndr_phone]" type="text"></td>
              </tr>
              <tr>
                <th scope="row">Электропочта</th>
                <td><input class="pole" name="FbMessages[sndr_email]" type="text"></td>
              </tr>
              <tr>
                <th scope="row">Сообщение</th>
                <td><textarea name="FbMessages[sndr_message]" cols="" rows=""></textarea></td>
              </tr>
              <tr>
                <th scope="row">&nbsp;</th>
                <td><input class="btn2" name="" type="submit" value="Отправить"></td>
              </tr>
            </table>
            </form>
        </div><!--end contact-l-->
        <div class="contact-r"> 
            {% block maincontent %}

            {% endblock %}
        </div><!--end contact-r-->
      </div></div><!-- #content-->
    </div><!-- #container-->

    </div>
  </section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
  <p><i>(с) Copyright 2014</i></p>
</footer><!-- #footer -->

</body>
</html>