{% set items = this.getMainMenu() %}
{% if items %}

	{% for item in items %}

			<a href="/page/{{ item.seo.alias ? item.seo.alias : item.id }}/">
				{{ item.nav_label ? item.nav_label : item.label }}
			</a>
			{% set qwert = this.widget('MainMenu', {'rootId':item.id}, true) %}
			{{ qwert|raw }}

	{% endfor %}

{% endif %}